


body{
  margin: 0;
  overflow-x: hidden;
}
*{ margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
/*-----------------Declaración de variables-----------------------------------*/
:root {
    --nav-text-color:#ffffff;
    --text-color:#ffffff;
    --background-color-second:#00091F;
    --background-color:#e4e4e4;
    --nav-text-color-second:#00091F;
  }

/*----------------HEADER-----------------------------------------------------------*/
.o-image-menu{
  display: flex;
  align-self: start;
  position: relative;
  width: 100%;
  height: 5vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color-second);
  z-index: 5;

}

.active{
  border-bottom: .3vh solid;
  border-image-source: linear-gradient(45deg, rgb(40,15,173), rgb(29,112,183), rgb(47,234,206), rgb(70,147,253), rgb(155,52,255), rgb(15,7,117));
  border-image-slice: 1;
  pointer-events: none;
}

.o-image-menu:after{
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0;
  border-bottom: .5vh solid;
  border-image-source: linear-gradient(45deg, rgb(40,15,173), rgb(29,112,183), rgb(47,234,206), rgb(70,147,253), rgb(155,52,255), rgb(15,7,117));
  border-image-slice: 1;
}
.o-top-nav {
    height: 92vh;
    background-image: url(../Images/HeaderAbout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4vh;
}
.o-top-nav2 {
  font-family:'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vh;
  padding: .5vh 5vw;
  z-index: 100;
}

.active{
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0;
  border-bottom: .3vh solid;
  border-image-source: linear-gradient(45deg, rgb(40,15,173), rgb(29,112,183), rgb(47,234,206), rgb(70,147,253), rgb(155,52,255), rgb(15,7,117));
  border-image-slice: 1;
  pointer-events: none;
}

  .menu {
    z-index: 100;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu a{
      text-decoration: none;
      margin: 0 1rem;
      color: var(--nav-text-color);
      opacity: 1;
      position: relative;
      font-size: 1.2vw;
      font-weight: bold;
  }
/* Poner algo aqui xSDS*/
.menu li a:after,
.menu a::before {
  transition: all .5s;
}

.menu li{
  margin-left: 8vh;
}

.menu li:first-child{
  margin-left: -10vh;
}
.menu li:nth-child(4){
  margin-left: 15vh;
}

.menu a::after{
  position: absolute;
  top: 4vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background:  linear-gradient(45deg, rgb(40,15,173), rgb(29,112,183), rgb(47,234,206), rgb(70,147,253), rgb(155,52,255), rgb(15,7,117));
  height: .2vh; 
}

.menu a:hover::after{
  width: 100%; 
}

  .o-menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
   z-index: 10000;
   display: none;
  }

  .o-menu-button,
  .o-menu-button::before,
  .o-menu-button::after {
    display: block;
    background-color:white;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .o-menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .o-menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked + .o-menu-button-container .o-menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .o-menu-button-container .o-menu-button {
    background: var(--second-bg-color);
  }

  #menu-toggle:checked + .o-menu-button-container .o-menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }



  .o-content-logo{
    display: flex;
    position: relative;
    justify-content: space-around;
    color: #ffffff;
    padding-top:60vh;
    text-shadow: 10px 10px 8px black;
    font-size: 3vh;
  }

  .o-content-logo span {
    color: yellow;
  }

  .o-content-logo .o-logo{
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 2vh;
  }

  .o-content-logo:after{
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: -5%;
    border-bottom: .5vh solid;
    border-image-source: linear-gradient(45deg, rgb(40,15,173), rgb(29,112,183), rgb(47,234,206), rgb(70,147,253), rgb(155,52,255), rgb(15,7,117));
    border-image-slice: 1;
  }

/*----------------------------------------------Slides-------------------------------------------------------------------------------------------------*/
.o-slide-content{
  display: flex;
  flex-wrap: wrap;

}
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider__slides {
    position: relative;
    width: 400%;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
    will-change: transform;
}
.slider[data-pos="0"] .slider__slides {
    transform: translateX(0%);
}
.slider[data-pos="1"] .slider__slides {
    transform: translateX(-25%);
}
.slider[data-pos="2"] .slider__slides {
    transform: translateX(-50%);
}
.slider[data-pos="3"] .slider__slides {
    transform: translateX(-75%);
}
.slider__slide {
    float: left;
    width: 25%;
    height: 100%;
}
.slider__dots {
    display: flex;
    position: absolute;
    bottom: 1.5em;
    left: 52.5%;
    transform: translateX(-50%);
}
.slider__dot, .slider__indicator {
    display: block;
    margin: 0 0.5em;
    width: 1em;
    height: 1em;
    background: rgba(0, 64, 82, 0.5);
    border-radius: 100px;
}
.slider__dot:last-child, .slider__indicator:last-child {
    opacity: 0;
}
.slider__indicator {
    position: absolute;
    background: #004052;
    width: auto;
}
.slider__indicator--left {
    transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s  cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.slider__indicator--right {
    transition: left 0.3s  cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.slider[data-pos="0"] .slider__indicator {
    left: 0em;
    right: 6em;
}
.slider[data-pos="1"] .slider__indicator {
    left: 2em;
    right: 4em;
}
.slider[data-pos="2"] .slider__indicator {
    left: 4em;
    right: 2em;
}
.slider[data-pos="3"] .slider__indicator {
    left: 6em;
    right: 0em;
}
.center {
    display: flex;
    width: 70%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.o-content-text{
  padding-top: 3vw;
}

.slide_tittle{
  font-size: 1.8vh;
  width: 35%;
  padding: .5vh .5vh .5vh 8vh;
  color: #ffffff;
  background-color: #004052;
  border-bottom-right-radius:5vh ;
}

.slide_text{
  font-size: 2.5vh;
  width: 80%;
  padding: 2vh 8vh 8vh 8vh ;
}

.slide_text ul{
  margin-top: 3vh;
  column-count: 2;
}

.slide_text ul li{
  color: #004052;
}
.slide_text ul li p{
  color:black ;
}

.o-image-content{
  width: 30%;
  padding-right: -10vw;
  
}

.o-image-content img{
  width: 100%;
}

/*---------------------------------------Whatsapp-------------------------------------------------------------------------*/
.o-float-buttom{
  position: relative;
  text-decoration: none;
  right: 42vw;  
  top: 38vh;
}

.o-float-buttom .icon-whatsapp:hover{
  width:4vw;
  margin-top: -1.5vh;
}

.o-whatsapp-content{
height: 5vh;
display: flex;
flex-direction: row;  
justify-content: center;
bottom:9vh;
right:10vw;
position: relative;

}

.whatsapp {
  margin-top: 1.5vh;
  width:9vw;
  height: 3vh;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:1vw;
  z-index:100;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.icon-whatsapp{
  width:3vw;
  color:#FFF;
  text-align:center; 
  z-index:100;
  
}

.o-border-icon {
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  height: 4vh;
  border-left: .5vh solid #25d366;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*---------------------------------------Contact--------------------------------------------------------------------------*/
.o-contact {
  margin-top: -.5vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #373A3B;
  color: #ffffff;
  padding: 1vw;
  border-bottom: 1vw solid;
  border-image-slice: 1;
  border-width: .4vw;
  border-image-source: linear-gradient(45deg, rgb(40,15,173), rgb(29,112,183), rgb(47,234,206), rgb(70,147,253), rgb(155,52,255), rgb(15,7,117));
  align-items: center;
}
.o-logo{
  display: flex;
  width: 20%;
 justify-content: flex-end;
 align-content: flex-end;
 margin: -1vw;
}

.o-logo img{
  width: 100%;
}

.o-contact-slogan{
  width: 32%;
  text-align: end;
  margin-top: -5vh;
  padding-right: 5vh;
}

.o-contact-slogan h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 4vh;
  font-weight: 400;
}

.o-contact-slogan h3 {
  font-size: 4vh;
  font-weight: 400;
}
.o-content-dots{
  display: flex;
  justify-content: flex-end;
  padding-top: 1vh;
}
.dot{
  width: 1vw;
  height: 1vw;
  margin-left: .2vw;
  border-radius: 50%;
  
}

.dot:nth-child(1){
  background-color: #4B0CDE;
}
.dot:nth-child(2){
  background-color: #9B34FF;
}
.dot:nth-child(3){
  background-color: #5D7DFF;
}
.dot:nth-child(4){
  background-color: #27C9FF;
}

.o-contact-tittle{
  padding: 1vw;
  width: 22%;
  border-left: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(2deg, rgb(40,15,173), rgb(29,112,183), rgb(47,234,206), rgb(70,147,253), rgb(155,52,255), rgb(15,7,117));
  font-size: 1.5vh;
}
.o-social-content{
  display: flex;
}
.o-social-content svg {
  width: 2.5vh;
  margin: 1vh;
}
.o-social-text{
  margin-top: 1vh;
  font-size: 2vh;
}
.o-contact-qr{
  display: flex;
  width: 20%;
  justify-content: flex-end;
}
.o-circle-qr{
  background: -webkit-linear-gradient(2deg, rgb(40,15,173), rgb(29,112,183), rgb(47,234,206), rgb(70,147,253), rgb(155,52,255), rgb(15,7,117));
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  padding: .3vw;
}

.o-circle{
  background: white;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.o-circle img{
background-color: white;
 width: 60%;
}


/*-----------------------------------------Footer--------------*/
.o-footer{
  background-color: #004052;
  color: #ffffff;
  font-size: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2vh 3vh;
  position: relative;
}
.o-footer{
  display: flex;
}
.o-footer .o-footer-email svg {
  width: 2.5vh;
  margin-right: 1.5vh;
}

.o-footer-email{
display: flex;
}



  /*--------------------------------------RESPONSIVE------------------------------------------------------------------*/

  @media only screen and (max-width: 1024px){
    body{
      margin: 0;
      overflow-x: hidden;
    }

     /*----------------Header Responsive------------------------------------------------------------*/
   .o-top-nav{
    z-index: -1000;    
  }

  .o-top-nav2{
    padding: .5em 1em;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .o-menu-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: -6vh;
  }

  .active{
      border-bottom: none;
  }

  .menu a::after{
    background: transparent; 
  }
  .menu {
    position: absolute;
    top: 0vh;
    margin-top: 13vh;
    left: 1.5vw;
    flex-direction: column;
    width: 97%;
    justify-content: end;
    align-items: left;
    background-color:var(--background-color);
    border-radius: 2vw;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 1000;
  }

  #menu-toggle{
    background-color: rgb(15,7,117);
    display: flex;
    height: 10vh;
    width: 10vh;
    opacity: 0;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .o-menu-button
  { top: 8vh;}

  #menu-toggle ~ .menu a {
  color:transparent;
  }
  #menu-toggle:checked ~ .menu li {
    height: 3vh;
    padding: 0.5em;
    color: var(--text-color);
    font-weight: bold;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    position: relative;
  }
  
  #menu-toggle:checked ~ .menu li:after{
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0;
    border-bottom: .5vh solid;
    border-top-left-radius:20px 20px;
    border-image-source: linear-gradient(45deg, rgb(40,15,173), rgb(29,112,183), rgb(47,234,206), rgb(70,147,253), rgb(155,52,255), rgb(15,7,117));
    border-image-slice: 1;
  }

  #menu-toggle:checked ~ .menu li:last-child:after{
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0;
    border-bottom: none;
  }
  #menu-toggle:checked ~ .menu a{
    color:var(--background-color-second);
    font-size: 3vw;
  }

  .menu > li {
    display: flex;
    justify-content: center; 
  }

    .o-content-logo{
      width: 100%;
      padding-top:45vh;
      text-shadow: 10px 10px 8px black;
      font-size: 2vh;
      flex-wrap: wrap;
      
    }
  
    .o-content-logo h1 {
        padding:.5vh 5vw;
      }

  /*----------------------------------------------Slides-------------------------------------------------------------------------------------------------*/
  .o-slide-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 25vh;
  
  }
  .slider {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }
  .slider__slides {
      position: relative;
      width: 400%;
   
  }
 
  .center {
      display: flex;
      width: 100%;
      height: 50vh;
      justify-content: center;
      align-items: center;
  }
  
  .o-content-text{
    padding-top: 3vw;
  }

  .slider__dots {
    bottom: 15em;
}
  
  
  .slide_tittle{
    font-size: 1.8vh;
    width: 80%;
    padding: .5vh .5vh .5vh 8vh;
    color: #ffffff;
    background-color: #004052;
    border-bottom-right-radius:5vh ;
  }
  
  .slide_text{
    font-size: 2.5vh;
    width: 80%;
    padding: 2vh 8vh 8vh 8vh ;
  }
  
  .slide_text ul{
    margin-top: 3vh;
    column-count: 2;
  }

  .o-image-content{
    width: 100%;
    display: block;
    padding-right: 0vw; 
    text-align: right;
  }

  .o-image-content img{
    width: 50%;
    
  }

/*---------------------------------------Whatsapp-------------------------------------------------------------------------*/
.o-float-buttom{
  right: 10vw;  
  top: 40vh;
}

.o-whatsapp-content{
height: 5vh;
display: flex;
flex-direction: row;  
justify-content: center;
bottom:9vh;
right:10vw;
position: relative;

}

.whatsapp {
  margin-top: 1.5vh;
  width:30vw;
  height: 3vh;
  font-size:3vw;
}
.icon-whatsapp{
  width:10vw;

}

.o-border-icon {
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  height: 4vh;
  border-left: .5vh solid #25d366;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

  

/*--------------------------------------Footer----------------------------------------------------------------------*/
    .o-logo{
      width: 100%;
      justify-content: center;
    }
    
      
      .o-logo img{
        width: 50%;
        margin-bottom: 2vh;
      }
      
      .o-contact-slogan{
        width: 100%;
        text-align: center;
      }
  
      .o-contact-tittle{
        width: 100%;
        justify-content: center;
        border-left: none;
        margin-top: 2vh;
      }
      .o-content-dots{
        justify-content: center;
      }
  
      .dot{
        width: 3vw;
        height: 3vw;
        margin-left: 2vw;
        border-radius: 50%; 
      }
  
      .o-contact-qr{
        width: 100%;
        justify-content: center;
        margin: 2vh;
      }
  
      .o-circle-qr{
        width: 30vw;
        height: 30vw;
        padding: .3vw;
      }
      
      .o-circle{
        width: 30vw;
        height: 30vw;
      }
      
      .o-circle img{
       width: 65%;
      }
      .o-social-content{
        padding: 0 4vh;
      }
      .o-social-content svg {
        width: 3vh;
        margin: 1vh;
      }
      .o-social-text{
        font-size: 2vh;
        text-align: center;
      }
  
      .o-contact-tittle h2{
        font-size: 4vh;
        margin-top: 2vh;
        margin-left: 4vw;
      }
  
      .o-footer{
        width: 100%;
        padding:.5vh;
        position: relative;
        text-align: center;
        padding-top: 2vh;
        justify-content: center;
      }
  
      .o-footer-email{
        padding-top: 2vh;
        margin: auto;
        } 
  }
